{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DynamoDB table access (storage access)",
      "Effect": "Allow",
      "Action": [
        "dynamodb:*"
      ],
      "Resource": "arn:aws:dynamodb:*:{{ aws_account_id }}:table/{{ datomic_ddb_table_name }}"
    },
    {
      "Sid": "S3 bucket access (log rotation)",
      "Effect": "Allow",
      "Action": [
        "s3:PutObject"
      ],
      "Resource": [
        "arn:aws:s3:::{{ datomic_ddb_s3_log_bucket_name }}",
        "arn:aws:s3:::{{ datomic_ddb_s3_log_bucket_name }}/*"
      ]
    },
    {
      "Sid": "CloudWatch Metrics",
      "Effect": "Allow",
      "Resource": "*",
      "Condition": {
        "Bool": {
          "aws:SecureTransport": "true"
        }
      },
      "Action": [
        "cloudwatch:PutMetricData",
        "cloudwatch:PutMetricDataBatch"
      ]
    }
  ]
}
