{
  "builders": [{
   "type": "amazon-ebs",
   "region": "{{ aws_region }}",
   "source_ami": "ami-e902508c",
   "instance_type": "{{ instance_type }}",
   "ssh_username": "ubuntu",
   "ami_name": "{{ ami_name }} - {{timestamp}}"
  }],
 
  "provisioners": [{
   "type": "ansible",
   "playbook_file": "./{{ ami_name }}_playbook.yml"
  }]
}
